/* custom css goes here */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
/*----------------ABOUT PAGE----------------*/
.img-content img{
    height: 450px;
    width: 300px;
}
.img-content{
    flex: 1;
    text-align: center;
    display: inline;
}

/*--------------Home--------------------*/
ul{
    text-align: center;
    padding: 0px; 
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #343A40;
}
li a{
    text-align: center;
    padding: 80px;
    color:#ffffff;
    
}

li{
    float: left;
}
.div-contents{
color: #ffffff;
}

/*-----------------PROJECT PAGE-------------*/
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;

  }
  
  div.scroll-container img {
    padding: 10px;
  }
  img{
    opacity: 0.9;
  }

/*------------------CONTACT PAGE-------------*/
 
.contact-left{
    flex-basis:35%
}


.contact-right{

       flex-basis: 60%;

   }

 
   .contact-left p{

    margin-top: 30px;

}

.contact-left p i{

color: rgb(0, 0, 0);

margin-right: 15px;

font-size: 18px;

}

.btn.btn2{

    display: inline-block;

    background: #5f6163;

}

.contact-right form{

    width: 100%;    

}

form input, form textarea{

    width: 100%;

    border: 0;

    outline: none;

    background: #ffffff;

    padding: 15px;

    margin: 15px 0;

    color: #000000;

    font-size: 18px;

    border-radius: 6px;

}

form .btn2{

    padding: 14px;

    font-size: 18px;

    margin-top: 20px;

    cursor: pointer;

}

  /*-----------------NAV BAR--------------*/
  .nav-img img{
    height: 100px;
    width: 100px;
  }
  .img-content{
    flex: 1;
    display: inline;
}

/*----------------SERVICES-----------*/
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }